/* Estilos generales de la aplicación */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
// Estilos del menú lateral
body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

// Estilos del contenido principal
.main-content {
  margin-left: 220px; // Ancho del menú lateral + espacio adicional
  padding: 20px;
}

// Otros estilos necesarios para la página
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

// Media query para ajustar los estilos en pantallas más pequeñas
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main-content {
    margin-left: 20px;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
